<h1>Login</h1>

<form method="POST" action="/auth/signin">


    <div>
        <lable> Email Address</lable>
        <input type="email" name="emailAddress">
    </div>

    <div>
        <label> Password </label>
        <input type="password" name="password">
    </div>

    <br>

    <div>
        <button type="submit">Sign in</button>
    </div>
</form>