<h1>Create a new Account</h1>

<form method="POST" action="/auth/signup">

    <div>
        <label>First Name: </label>
        <input type="text" name="firstName">
    </div>

    <div>
        <label>Last Name: </label>
        <input type="text" name="lastName">
    </div>
    
    <div>
        <label>Username: </label>
        <input type="text" name="username">
    </div>

    <div>
        <label>Email Address: </label>
        <input type="email" name="emailAddress">
    </div>
    
    <div>
        <label>Password: </label>
        <input type="password" name="password">
    </div>


    <br>

    <div>

        <button type="submit">Sign Up</button>

    </div>

</form>